$bgColor: #141622;
$navBgColor: #161619;
$footerBgColor: #222531;
$buttonColor: #3861fb;
$listBgColor: #171924;
$mainTextColor: #fff;
$secondaryTextColor: #c1c6c8;
$negativeValue: #ea2e30;
$positiveValue: #16c784;
.currencies-list {
	background-color: $footerBgColor;
	padding: 20px 0 20px 20px;
	border-radius: 10px;
	overflow-x: scroll;
	position: relative;
	margin: 0 20px;
	.table-container {
		margin: 0 auto;
		border-collapse: collapse;
		.table-headings {
			text-align: left;
			th {
				padding-top: 20px;
				width: 180px;
				text-align: center;
			}
			.table-sparkline {
				width: 400px;
			}
			.slim {
				width: 80px;
			}
			#price {
				width: 150px;
			}
			.fix-column {
				position: absolute;
			}
		}
		.list-container > td {
			cursor: pointer;
			padding: 20px 0;
			border-bottom: 1px solid $secondaryTextColor;
		}
	}
}

.table-cols {
	text-align: center;
}

.currencies-list::-webkit-scrollbar {
	display: none;
}
.derivatives-list {
	background-color: $footerBgColor;
	padding: 20px 0 20px 20px;
	border-radius: 10px;
	overflow-x: scroll;
	position: relative;
	margin: 0 20px;
	.table-container {
		margin: 0 auto;
		border-collapse: collapse;
		.table-headings {
			text-align: left;
			th {
				padding-top: 15px;
				width: 230px;
			}
			.fix-column {
				position: absolute;
			}
		}
		.list-container > td {
			cursor: pointer;
			padding: 20px 0;
			border-bottom: 1px solid $secondaryTextColor;
		}
		#logo {
			padding: 10px;
		}
	}
}

button {
	font-size: 5px;
	background-color: #2c2443;
	color: white;
}

button:visited {
	background-color: #2c2443;
}

.buttons {
	display: flex;
	justify-content: center;
}
#next-btn,
#prev-btn {
	font-size: 15px;
}
.numberPage {
	padding-top: 5px;
}
