.search-desktop {
	display: none;
	flex-wrap: nowrap;
	align-items: center;
	height: 50px;
}
.inputSearch {
	width: 100px;
}
@media screen and (min-width: 600px) {
	.search-desktop {
		display: flex;
	}
}

@media screen and (min-width: 750px) {
	.inputSearch {
		width: 200px;
	}
}
